.align-items-v-center .row {
    margin-top: 20vh;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}
  
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
    
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.loading-container {
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #7792b1;
    background-color: rgba(119, 146, 177, 0.459)
}

.loading-content {
    position: relative;
    top: 45%;
    width: 100%;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

.currency-input {
    border: 0.1px solid #7792b1;
}

.currency-input > input[type='number'] {
    font-size: 70px;
    border: none;
    font-weight: 900;
    font-family: "Nunito Sans", sans-serif;
}

.currency-input > .input-group-addon {
    border: none;
    font-weight: 800;
    font-size: 20px;
}

.input-group > .input-group-addon, .input-group > input.form-control {
    border: none;
}

.transact-extras {
    padding-top: 10px;
    border: 0.1px solid #7792b1;
}