.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 0.5s infinite;
  }
}

@keyframes App-logo-spin {
  from {
    height: 10vmin;
  }
  to {
    height: 10.5vmin;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-name {
  font-weight: 900;
  color: #475f7b;
  font-family: "Nunito Sans", sans-serif;
}

.App-header span {
  margin-top: 40px;
  /* color: #FDAC41; */
  color: #E3E3E3;
  font-weight: 900;
  font-size: 5vmin;
}
